:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.cell {
  position: relative;
  background-color: darkslategrey;
  height: 2rem;
  width: 2rem;
}

.cell-table {
  display: flex;
  position: relative;
  left: 30rem;
  top: 2rem;
}
